node_modules
.idea
package.json
package-lock.json
build
.vscode/settings.json
flaskMiddleWare/.vscode/launch.json
flaskMiddleWare/.vscode/settings.json
*.pyc
*.pyc
*.wav
flaskMiddleWare/app/__pycache__/*
*/venv/*
flaskMiddleWare/*.json