.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
  }

.mainPanel {
    width: calc(100% - 260px);
    overflow: hidden;
    position: relative;
    float: right;
    max-height: 100%;
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    overflow-anchor: none;
    touch-action: none;
}

.map{
    margin-top: 70px;
}
