body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

body {
    background-color: #EEEEEE;
    color: #3C4858;
    margin: 0;
}

.AudioRecorder {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AudioRecorder button, div.index button[type='submit'] {
  margin-right: 15px;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  background-color: #3c8dbc;
  color: antiquewhite;
  font-size: 16px;
}

.AudioRecorder-button:not(.hasAudio) {
  color: darkred;
}

div.index {
  text-align: center;
  padding-top: 5%;
  border-top: 1px dotted gray;
  display: table;
  width: 100%;
}

div input[type="file"] {
  display: inline;
}

div.index h1 {
  font-size: medium;
  color: darkgrey;
}