.align-left {
    float:left;
    width:49%;
}

.align-right {
    float:right;
    width:50%;
}

.align-text {
    text-align: center;
}

.margin50 {
    margin-top: 40%;
}

.height {
    height: 400px;
}